.vehicle {
  /* float: left; */
  /* border: 2px solid red; */
}
/* .dest0 {
  position: relative;
  margin-left: 20%;
}

.dest1 {
  position: relative;
  margin-left: 20%;
}
.dest2 {
  position: relative;
  margin-left: 20%;
}

.dest3 {
  position: relative;
  margin-left: 20%;
} */
